<html>
<head>

</head>
<body>
<div class="cont">
  {% for movie in data %}
      <p class="mov"> Movie : {{movie[3]}}</p>
          <p class="cas">&nbsp;Cast: {{ movie[0] }}</p>
  {% endfor %}
</div>
</body>
