<html>
<head>
<link href="style.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="cont">
  <% moviess.forEach(function (movie) { %>
      <p class="mov"><%=i++%>.  Movie : <%= movie.title %></p>
          <p class="cas">&nbsp;Cast: <%= movie.cast %></p>
  <% }) %>
</div>
</body>
